Formulario/preguntas.dtd

<!DOCTYPE preguntas [
        <!ELEMENT preguntas (pregunta)*>
        <!ELEMENT pregunta (tipo|enunciado|respuesta|img)*>
        <!ELEMENT tipo (#PCDATA)>
        <!ELEMENT enunciado (#PCDATA)>
        <!ELEMENT respuesta (#PCDATA)>
        <!ATTLIST respuesta
                correcto CDATA #IMPLIED>
        <!ELEMENT img (#PCDATA)>
]>